* {
	box-sizing: border-box;
  }
  
  html {
	min-height: 100vh;
  }
  
  body {
	margin: 0;
	background: 
	radial-gradient(rgb(95, 95, 95), darkgreen);
  }
  
  .page-title {
	color: #FFBB89;
	font-family: Didot, serif;
	font-weight: normal;
	text-align: center;
	font-size: 6em;
  }
  
  .game-info-container {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
  }
  
  .game-info {
	font-family: Lunacy, serif;
	color: #FFBB89;
	font-size: 4em;
  }
  
    
  .form-info {
	display: block;
	text-align: center;
	color: #FFBB89;
	font-size: 2em;
  }

  .signup-form-info {
	display: inline;
	text-align: center;
	color: #FFBB89;
	font-size: 2em;
  }

  .game-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	margin: 50px;
	justify-content: center;
	perspective: 500px;
  }
  
  .card {
	position: relative;
	height: 175px;
	width: 125px;
  }
  
  /* .card:hover {
  } */
  
  .card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	backface-visibility: hidden;
	border-radius: 12px;
	border-width: 1px;
	border-style: solid;
	transition: transform 500ms ease-in-out;
  }
  
  .card.visible .card-back {
	transform: rotateY(-180deg);
  }
  
  .card.visible .card-front {
	transform: rotateY(0)
  }
  
  .card.matched .card-value {
	animation: dance 1s linear infinite 500ms;
  }
  
  .overlay-text {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index: 100;
	color: #FF6D00;
	font-family: Creepy, serif;
  }
  
  .overlay-text-small {
	font-size: .3em;
  }

  .overlay-text-smaller{
	font-size: .2em;

  }

  button {
	background-color: #0ba826;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 25px;
	margin: 0 auto;
	cursor: pointer;
  }
  
  .overlay-text.visible {
	display: flex;
	flex-direction: column;
	animation: overlay-grow 500ms forwards;
  }
  
  @keyframes overlay-grow {
	from {
	  background-color: rgba(0, 0, 0, 0);
	  font-size: 0;
	}
	to {
	  background-color: rgba(0, 0, 0, .8);
	  font-size: 10em;
	}
  }
  
  @keyframes dance {
	0%, 100%  {
	  transform: rotate(0);
	}
	25% {
	  transform: rotate(-30deg);
	}
	75% {
	  transform: rotate(30deg);
	}
  }
  
  .card-back {
	background-color: black;
	border-color: #FF6D00;
  }
  
  .card-front {
	background-color: #FFBB89;
	border-color: #333;
	transform: rotateY(180deg);
  }
  
  .card-value {
	transition: transform 100ms ease-in-out;
	transform: scale(.9);
  }
  
  .card-front:hover .card-value {
	transform: scale(1);
  }
  
  
  @media (max-width: 600px) {
	.game-container {
	  grid-template-columns: repeat(2, auto);
	}
  
	.game-info-container {
	  flex-direction: column;
	  align-items: center;
	}
  }