.input-container {
  display: flex;
}

input[type="text"],
.nameBtn {
  padding: 10px;
  border: none;
}

input[type="text"] {
  border-radius: 4px 0 0 4px;

}

.nameBtn {
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.nameBtn:hover {
  background: #8f5295;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
