.card {
  position: relative;
}
.card img {
  width: 140px;
  height: 140px;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  object-fit: cover;
}

.card36 img {
  width: 120px;
  height: 120px;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  object-fit: cover;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.card36 .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}


.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.card36 .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.callGradient {
  background: linear-gradient(
    135deg,
    rgba(200, 58, 213, 0) 0%,
    rgba(161, 213, 79, 0) 46%,
    rgb(255, 169, 249),
    rgba(161, 213, 79, 0) 54%,
    rgba(124, 188, 10, 0) 100%
  );
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 380%;
  animation: startAnimation 0.8s;
  -webkit-animation: startAnimation 0.8s;
}

@keyframes startAnimation {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes startAnimation {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}
